body {
    background-color:transparent;
    margin: 0;
}

.w-100 {
    width: 100%;
}

.d-none {
    display: none;
}
.badge-notify {
    display: inline-block;
    /*min-width: 10px;*/
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: red;
    border-radius: 10px;
}

.aspNetDisabled {
    cursor: default !important;
    background-color: silver !important;
}
/***********Validation************/
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    font-weight: bold;
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

div#success-alert, div#danger-alert {
    width: 80%;
    position: fixed;
    margin: 1% auto;
    left: 0;
    right: 0;
    display: none;
    z-index: 100;
}

/***********End Validation********/

/***********Modal*************/
.close {
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: 0.2;
}

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
        filter: alpha(opacity=50);
        opacity: 0.5;
    }

button.close {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.modal-open {
    overflow: hidden;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}

    .modal.fade .modal-dialog {
        -webkit-transform: translate(0, -25%);
        -ms-transform: translate(0, -25%);
        -o-transform: translate(0, -25%);
        transform: translate(0, -25%);
        -webkit-transition: -webkit-transform 0.3s ease-out;
        -o-transition: -o-transform 0.3s ease-out;
        transition: -webkit-transform 0.3s ease-out;
        transition: transform 0.3s ease-out;
        transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out, -o-transform 0.3s ease-out;
    }

    .modal.in .modal-dialog {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
    }

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}

.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
}

.modal-content {
    position: relative;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    outline: 0;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000;
}

    .modal-backdrop.fade {
        filter: alpha(opacity=0);
        opacity: 0;
    }

    .modal-backdrop.in {
        filter: alpha(opacity=50);
        opacity: 0.5;
    }

.modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
}

    .modal-header .close {
        margin-top: -2px;
    }

.modal-title {
    margin: 0;
    line-height: 1.42857143;
}

.modal-body {
    position: relative;
    padding: 15px;
}

.modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}

    .modal-footer .btn + .btn {
        margin-bottom: 0;
        margin-left: 5px;
    }

    .modal-footer .btn-group .btn + .btn {
        margin-left: -1px;
    }

    .modal-footer .btn-block + .btn-block {
        margin-left: 0;
    }

.modal-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll;
}

@media (min-width: 768px) {
    .modal-dialog {
        width: 600px;
        margin: 30px auto;
    }

    .modal-content {
        -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    }

    .modal-sm {
        width: 300px;
    }
}

@media (min-width: 992px) {
    .modal-lg {
        width: 900px;
    }
}
/******************************/

.menu {
    background-color: lightslategray;
    padding: 5px 0px;
}

.banner-normal {
    color: black;
    background-color: darkcyan;
    height: 40px;
    font-family: Tahoma;
    font-size: 12pt;
    border-radius: 3px 3px;
    box-shadow: dimgray 3px;
    padding: 4px 3px 3px 4px;
    margin-top: 2.5%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    text-align: center;
    vertical-align: middle;
    box-shadow: silver 2px 2px;
}

.banner-egat {
    
    color :#164396;
    background-color: #FFCC00;
    height: 40px;
    font-family: Tahoma;
    font-size: 12pt;
    border-radius: 3px 3px;
    box-shadow: dimgray 3px;
    padding: 4px 3px 3px 4px;
    margin-top: 2.5%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    text-align: center;
    vertical-align: middle;
    box-shadow: silver 2px 2px;
}

.div0 {
    padding: 5px;
    border-color: dimgray;
    border-left: 1px;
    border-top: 1px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    min-width: 800px;
    border-radius: 10px;
    min-height: 80px;
    background-color: whitesmoke;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.5) !important;
    border-radius: 0px !important;
}

.bg_content {
    padding: 5px;
    border-color: transparent;
    border-left: 0px;
    border-top: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    min-width: 100%;
    min-height: 80px;
    background-color: whitesmoke;
   
}

.cell_content_100PC {
    /*padding: 5px;*/
    border-color: transparent;
    border-left: 0px;
    border-top: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    min-width: 100%;
    max-width: 100%;
    width:100%;
  /*  min-height: 80px;*/
    background-color: transparent;
}
.cell_content_20PC {
    /*padding: 5px;*/
    border-color: transparent;
    border-left: 0px;
    border-top: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    min-width: 20%;
    width: 20%;
    /* min-height: 80px;*/
    background-color: transparent;
}
.cell_content_40PC {
    /*padding: 5px;*/
    border-color: transparent;
    border-left: 0px;
    border-top: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    min-width: 40%;
    width: 40%;
   /* min-height: 80px;*/
    background-color: transparent;
}
.cell_content_50PC {
    /*padding: 5px;*/
    border-color: transparent;
    border-left: 0px;
    border-top: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    min-width: 50%;
    width: 50%;
   /* min-height: 80px;*/
    background-color: transparent;
}
.cell_content_60PC {
    /*padding: 5px;*/
    border-color: transparent;
    border-left: 0px;
    border-top: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    min-width: 60%;
    width: 60%;
   /* min-height: 80px;*/
    background-color: transparent;
}
.cell_content_80PC {
    /*padding: 5px;*/
    border-color: transparent;
    border-left: 0px;
    border-top: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    min-width: 80%;
    width: 80%;
  /*  min-height: 80px;*/
    background-color: transparent;
}
.cell_content_100PC_TL {
    padding: 5px;
    border-color: transparent;
    border-left: 0px;
    border-top: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    min-width: 100%;
    max-width: 100%;
    width: 100%;
   /* min-height: 80px;*/
    background-color: transparent;
    text-align:left;
    vertical-align:top;
}
.cell_content_PC_TL {
    /*padding: 5px;*/
    border-color: transparent;
    border-left: 0px;
    border-top: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    background-color: transparent;
    text-align: left;
    vertical-align: top;
}

.cell_content_20PC_TL {
    padding: 5px;
    border-color: transparent;
    border-left: 0px;
    border-top: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    min-width: 20%;
    width: 20%;
    /*min-height: 80px;*/
    background-color: transparent;
    text-align: left;
    vertical-align: top;
}
.cell_content_40PC_TL {
    padding: 5px;
    border-color: transparent;
    border-left: 0px;
    border-top: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    min-width: 40%;
    width: 40%;
   /*min-height: 80px;*/
    background-color: transparent;
    text-align: left;
    vertical-align: top;
}

.cell_content_50PC_TL {
    padding: 5px;
    border-color: transparent;
    border-left: 0px;
    border-top: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    min-width: 50%;
    width: 50%;
  /*  min-height: 80px;*/
    background-color: transparent;
    text-align: left;
    vertical-align: top;
}

.cell_content_60PC_TL {
    padding: 5px;
    border-color: transparent;
    border-left: 0px;
    border-top: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    min-width: 60%;
    width: 60%;
    /*min-height: 80px;*/
    background-color: transparent;
    text-align: left;
    vertical-align: top;
}

.cell_content_80PC_TL {
    padding: 5px;
    border-color: transparent;
    border-left: 0px;
    border-top: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    min-width: 80%;
    width: 80%;
   /* min-height: 80px;*/
    background-color: transparent;
    text-align: left;
    vertical-align: top;
}
.cell_content_100PC_TR {
    padding: 5px;
    border-color: transparent;
    border-left: 0px;
    border-top: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    min-width: 100%;
    max-width: 100%;
    width: 100%;
   /* min-height: 80px;*/
    background-color: transparent;
    text-align: right;
    vertical-align: top;
}
.cell_content_20PC_TR {
    padding: 5px;
    border-color: transparent;
    border-left: 0px;
    border-top: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    min-width: 20%;
    width: 20%;
  /*  min-height: 80px;*/
    background-color: transparent;
    text-align: right;
    vertical-align: top;
}
.cell_content_40PC_TR {
    padding: 5px;
    border-color: transparent;
    border-left: 0px;
    border-top: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    min-width: 40%;
    width: 40%;
  /*  min-height: 80px;*/
    background-color: transparent;
    text-align: right;
    vertical-align: top;
}

.cell_content_50PC_TR {
    padding: 5px;
    border-color: transparent;
    border-left: 0px;
    border-top: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    min-width: 50%;
    width: 50%;
 /*   min-height: 80px;*/
    background-color: transparent;
    text-align: right;
    vertical-align: top;
}

.cell_content_60PC_TR {
    padding: 5px;
    border-color: transparent;
    border-left: 0px;
    border-top: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    min-width: 60%;
    width: 60%;
  /*  min-height: 80px;*/
    background-color: transparent;
    text-align: right;
    vertical-align: top;
}

.cell_content_80PC_TR {
    padding: 5px;
    border-color: transparent;
    border-left: 0px;
    border-top: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    min-width: 80%;
    width: 80%;
   /* min-height: 80px;*/
    background-color: transparent;
    text-align: right;
    vertical-align: top;
}

.div1 {
    /*padding: 5px;*/
    min-width: 100%;
    min-height: 80px;
    background-color: ghostwhite;
}

.div_50 {
    padding: 5px;
    border-color: dimgray;
    border-left: 1px;
    border-top: 1px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    min-width: 50%;
    border-radius: 10px;
    min-height: 80px;
    background-color: whitesmoke;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.5) !important;
    border-radius: 0px !important;
}

.div_90 {
    padding: 5px;
    border-color: dimgray;
    border-left: 1px;
    border-top: 1px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    min-width: 90%;
    border-radius: 20px;
    min-height: 80px;
    background-color: whitesmoke;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.5) !important;
    border-radius: 3px !important;
}

.div_100{
    padding: 10px;
    border-color: dimgray;
    border-left: 1px;
    border-top: 1px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    min-width: 100%;
    border-radius: 20px;
    min-height: 80px;
    background-color: whitesmoke;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.5) !important;
    border-radius: 0px !important;
}

.ddl-normal {
    margin-top: 2px;
    margin-left: 2px;
    color: dimgray;
    background-color: whitesmoke;
    font-family: Tahoma;
    font-size: 10pt;
    border-radius: 3px 3px;
}

.ddl-sm {
    margin-top: 2px;
    margin-left: 2px;
    color: dimgray;
    background-color: white;
    font-family: Tahoma;
    font-size: 10pt;
    border-radius: 3px 3px;
    width: 100px;
}

.ddl-md {
    margin-top: 2px;
    margin-left: 2px;
    color: dimgray;
    background-color: white;
    font-family: Tahoma;
    font-size: 10pt;
    border-radius: 3px 3px;
    width: 400px;
}

.ddl-lg {
    margin-top: 2px;
    margin-left: 2px;
    color: dimgray;
    background-color: white;
    font-family: Tahoma;
    font-size: 10pt;
    border-radius: 3px 3px;
    width: 800px;
}

.rdl-normal {
    color: dimgray;
    background-color: transparent;
    font-family: Tahoma;
    font-size: 10pt;
    padding: 2px;
}
.cb-normal {
    color: dimgray;
    background-color: transparent;
    font-family: Tahoma;
    font-size: 10pt;
    padding: 2px;
}

.Label_sm {
    margin-top: 2px;
    margin-left: 2px;
    font-family: Tahoma;
    font-size: 9pt;
    width: 100px;
    background-color: transparent;
}

.Label_md {
    margin-top: 2px;
    margin-left: 2px;
    font-family: Tahoma;
    font-size: 10pt;
    width: 200px;
    background-color: transparent;
}

.Label_lg {
    margin-top: 2px;
    margin-left: 2px;
    font-family: Tahoma;
    font-size: 11pt;
    width: auto;
    background-color: transparent;
}
.Label_xlg {
    margin-top: 2px;
    margin-left: 2px;
    font-family: Tahoma;
    font-size: 12pt;
    width: auto;
    background-color: transparent;
}
.Label_sm_blue {
    margin-top: 2px;
    margin-left: 2px;
    font-family: Tahoma;
    font-size: 9pt;
    color:blue;
    width: 100px;
    background-color: transparent;
}

.Label_md_blue {
    margin-top: 2px;
    margin-left: 2px;
    font-family: Tahoma;
    font-size: 10pt;
    color: blue;
    width: 200px;
    background-color: transparent;
}

.Label_lg_blue {
    margin-top: 2px;
    margin-left: 2px;
    font-family: Tahoma;
    font-size: 11pt;
    color: blue;
    width: auto;
    background-color: transparent;
}
.Label_xlg_blue {
    margin-top: 2px;
    margin-left: 2px;
    font-family: Tahoma;
    font-size: 12pt;
    color: blue;
    width: auto;
    background-color: transparent;
}

.Label_sm_red {
    margin-top: 2px;
    margin-left: 2px;
    font-family: Tahoma;
    font-size: 9pt;
    color: red;
    width: 100px;
    background-color: transparent;
}

.Label_md_red {
    margin-top: 2px;
    margin-left: 2px;
    font-family: Tahoma;
    font-size: 10pt;
    color: red;
    width: 200px;
    background-color: transparent;
}

.Label_lg_red {
    margin-top: 2px;
    margin-left: 2px;
    font-family: Tahoma;
    font-size: 11pt;
    color: red;
    width: auto;
    background-color: transparent;
}

.Label_xlg_red {
    margin-top: 2px;
    margin-left: 2px;
    font-family: Tahoma;
    font-size: 12pt;
    color: red;
    width: auto;
    background-color: transparent;
}
.Text_sm {
    margin-top: 2px;
    margin-left: 2px;
    font-family: Tahoma;
    font-size: 10pt;
    color:rgb(35, 34, 34);
    width: 100px;
    background-color: white;
    border-color:silver;
    border-radius:2px;
}

.Text_md {
    margin-top: 2px;
    margin-left: 2px;
    font-family: Tahoma;
    font-size: 10pt;
    color: rgb(35, 34, 34);
    width: 250px;
    background-color: white;
    border-color: silver;
    border-radius: 2px;
}

.Text_lg {
    margin-top: 2px;
    margin-left: 2px;
    font-family: Tahoma;
    font-size: 10pt;
    color: rgb(35, 34, 34);
    width: 400px;
    background-color: white;
    border-color: silver;
    border-radius: 2px;
}

.Text_20 {
    margin-top: 2px;
    margin-left: 2px;
    font-family: Tahoma;
    font-size: 10pt;
    color: rgb(35, 34, 34);
    width: 20px;
    background-color: white;
    border-color: silver;
    border-radius: 2px;
}

.Text_60 {
    margin-top: 2px;
    margin-left: 2px;
    font-family: Tahoma;
    font-size: 10pt;
    color: rgb(35, 34, 34);
    width: 60px;
    background-color: white;
    border-color: silver;
    border-radius: 2px;
}
.Text_150 {
    margin-top: 2px;
    margin-left: 2px;
    font-family: Tahoma;
    font-size: 10pt;
    color: rgb(35, 34, 34);
    width: 150px;
    background-color: white;
    border-color: silver;
    border-radius: 2px;
}
.Text_200 {
    margin-top: 2px;
    margin-left: 2px;
    font-family: Tahoma;
    font-size: 10pt;
    color: rgb(35, 34, 34);
    width: 200px;
    background-color: white;
    border-color: silver;
    border-radius: 2px;
}
.Text_400 {
    margin-top: 2px;
    margin-left: 2px;
    font-family: Tahoma;
    font-size: 10pt;
    color: rgb(35, 34, 34);
    width: 400px;
    background-color: white;
    border-color: silver;
    border-radius: 2px;
}
.Text_500 {
    margin-top: 2px;
    margin-left: 2px;
    font-family: Tahoma;
    font-size: 10pt;
    color: rgb(35, 34, 34);
    width: 500px;
    background-color: white;
    border-color: silver;
    border-radius: 2px;
}
.Text_600 {
    margin-top: 2px;
    margin-left: 2px;
    font-family: Tahoma;
    font-size: 10pt;
    color: rgb(35, 34, 34);
    width: 600px;
    background-color: white;
    border-color: silver;
    border-radius: 2px;
}
.Text_800 {
    margin-top: 2px;
    margin-left: 2px;
    font-family: Tahoma;
    font-size: 10pt;
    color: rgb(35, 34, 34);
    width: 800px;
    background-color: white;
    border-color: silver;
    border-radius: 2px;
}
.Text_30PC {
    margin-top: 2px;
    margin-left: 2px;
    font-family: Tahoma;
    font-size: 10pt;
    color: rgb(35, 34, 34);
    width: 30%;
    background-color: white;
    border-color: silver;
    border-radius: 2px;
}
.Text_50PC {
    margin-top: 2px;
    margin-left: 2px;
    font-family: Tahoma;
    font-size: 10pt;
    color: rgb(35, 34, 34);
    width: 50%;
    background-color: white;
    border-color: silver;
    border-radius: 2px;
}
.Text_90PC {
    margin-top: 2px;
    margin-left: 2px;
    font-family: Tahoma;
    font-size: 10pt;
    color: rgb(35, 34, 34);
    width: 90%;
    background-color: white;
    border-color: silver;
    border-radius: 2px;
}
.Text_100PC {
    margin-top: 2px;
    margin-left: 2px;
    font-family: Tahoma;
    font-size: 10pt;
    color: rgb(35, 34, 34);
    width: 100%;
    background-color: white;
    border-color: silver;
    border-radius: 2px;
}
.text_center {
    text-align: center !important;
}

.pointer{
    cursor: pointer;
}

.btn_normal {
    margin-top: 2px;
    margin-left: 2px;
    font-family: Tahoma;
    font-size: 9pt;
    color: black;
    height: 30px;
    width: 120px;
    background-color: silver;
    border: solid;
    border-width: 1px;
    border-color: silver;
    box-shadow: rgb(128, 128, 128) 2px 2px;
    border-radius: 2px 2px;
    cursor: pointer;
}

.btn_normal_blue {
    margin-top: 2px;
    margin-left: 2px;
    font-family: Tahoma;
    font-size: 9pt;
    color: white;
    height: 30px;
    width: 120px;
    background-color: blue;
    border: solid;
    border-width: 1px;
    border-color: transparent;
    box-shadow: rgb(128, 128, 128) 2px 2px;
    border-radius: 2px 2px;
    cursor: pointer;
}

.btn_normal_silver {
    margin-top: 2px;
    margin-left: 2px;
    font-family: Tahoma;
    font-size: 9pt;
    color: dimgray;
    height: 30px;
    width: 120px;
    background-color: silver;
    border: solid;
    border-width: 1px;
    border-color: transparent;
    box-shadow: rgb(128, 128, 128) 2px 2px;
    border-radius: 2px 2px;
    cursor: pointer;
}

.btn_normal_red {
    margin-top: 2px;
    margin-left: 2px;
    font-family: Tahoma;
    font-size: 9pt;
    color: white;
    height: 30px;
    width: 120px;
    background-color: red;
    border: solid;
    border-width: 1px;
    border-color: transparent;
    box-shadow: rgb(128, 128, 128) 2px 2px;
    border-radius: 2px 2px;
    cursor: pointer;
}

.btn_small_blue {
    margin-top: 2px;
    margin-left: 2px;
    font-family: Tahoma;
    font-size: 9pt;
    color: white;
    height: 30px;
    /*width: 100px;*/
    background-color: blue;
    border: solid;
    border-width: 1px;
    border-color: transparent;
    box-shadow: rgb(128, 128, 128) 2px 2px;
    border-radius: 2px 2px;
    cursor: pointer;
}

.btn_small_silver {
    margin-top: 2px;
    margin-left: 2px;
    font-family: Tahoma;
    font-size: 9pt;
    color: dimgray;
    height: 30px;
    /*width: 100px;*/
    background-color: silver;
    border: solid;
    border-width: 1px;
    border-color: transparent;
    box-shadow: rgb(128, 128, 128) 2px 2px;
    border-radius: 2px 2px;
    cursor: pointer;
}

.btn_small_red {
    margin-top: 2px;
    margin-left: 2px;
    font-family: Tahoma;
    font-size: 9pt;
    color: white;
    height: 30px;
    /*width: 100px;*/
    background-color: red;
    border: solid;
    border-width: 1px;
    border-color: transparent;
    box-shadow: rgb(128, 128, 128) 2px 2px;
    border-radius: 2px 2px;
    cursor: pointer;
}


.div_sm {
    padding: 0.5%;
    margin-left: 2.5%;
    font-family: Tahoma;
    font-size: 10pt;
    color: black;
    height: auto;
    width: 30%;
    background-color: white;
    border: solid;
    border-width: 1px;
    border-color: silver;
    box-shadow: silver 2px 2px;
    border-radius: 3px 3px;
}

.div_md {
    padding: 0.5%;
    margin-left: 2.5%;
    font-family: Tahoma;
    font-size: 10pt;
    color: black;
    height: auto;
    width: 50%;
    background-color: white;
    border: solid;
    border-width: 1px;
    border-color: silver;
    box-shadow: silver 2px 2px;
    border-radius: 3px 3px;
}

.div_lg {
    padding: 0.5%;
    margin-left: 2.5%;
    font-family: Tahoma;
    font-size: 10pt;
    color: black;
    height: auto;
    width: 95%;
    background-color: white;
    border: solid;
    border-width: 1px;
    border-color: silver;
    box-shadow: silver 2px 2px;
    border-radius: 3px 3px;
    min-height: 100px;
}
.table {
    border-collapse: collapse;
    width: 100%;
    font-family: Tahoma;
}

.table tr:nth-child(odd) {
    background-color: #FFF;
}

.table th {
    background-color: steelblue;
    color: white;
    text-align: left;
    vertical-align: middle;
}

.table td, .table th {
    padding: 5px;
}

.table_header_grey_lefttop {
    background-color: silver;
    color: black;
    text-align: left;
    vertical-align: top;
}
.table_body_lefttop {
    background-color: transparent;
    color: black;
    text-align: left;
    vertical-align: top;
}
.table_header_grey_centertop {
    background-color: silver;
    color: black;
    text-align: center;
    vertical-align: top;
}
.table_header_grey_leftmiddle {
    background-color: silver;
    color: black;
    text-align: left;
    vertical-align: middle;
}

.table_header_grey_centermiddle{
    background-color: silver;
    color: black;
    text-align: center;
    vertical-align: middle;
}
.table_header_grey_leftbottom {
    background-color: silver;
    color: black;
    text-align: left;
    vertical-align: bottom;
}
.table_header_grey_centerbottom {
    background-color: silver;
    color: black;
    text-align: center;
    vertical-align: bottom;
}
.gv_normal {
    padding: 0.5%;
    margin-left: 2.5%;
    font-family: Tahoma;
    font-size: 10pt;
    color: black;
    height: auto;
    width: 95%;
    background-color: white;
    border: solid;
    border-width: 1px;
    border-color: silver;
    box-shadow: silver 2px 2px;
    border-radius: 3px 3px;
    min-height: 50px;
    
}
.gv_header_blue {
    background-color: steelblue;
    color: white;
    text-align: center;
    vertical-align: middle;
}
.gv_header_black {
    background-color: black;
    color: white;
    text-align: center;
    vertical-align: middle;
}
.gv_header_green {
    background-color: darkslategrey;
    color: white;
    text-align: center;
    vertical-align: middle;
}
.gv_header_red {
    background-color: red;
    color: white;
    text-align:center;
    vertical-align:middle;
}
.gv_header_grey {
    background-color: silver;
    color: black;
    text-align: center;
    vertical-align: middle;
}
.gv_header_whitesmoke {
    background-color: whitesmoke;
    color: black;
    text-align: center;
    vertical-align: middle;
}
.gv_item_w_sm {
    width: 200px;
    text-align: center;
}
.gv_item_w_md {
    width: 500px;
    text-align: center;
}
.gv_item_w_lg {
    width: 1000px;
    text-align: center;
}
.gv_item_w_sm_left {
    width: 200px;
    text-align:left;
}

.gv_item_w_md_left {
    width: 500px;
    text-align: left;
}

.gv_item_w_lg_left {
    width: 1000px;
    text-align: left;
}
.gv_item_w_sm_right {
    width: 200px;
    text-align: right;
}

.gv_item_w_md_right {
    width: 500px;
    text-align: right;
}

.gv_item_w_lg_right {
    width: 1000px;
    text-align: right;
}



    